<script setup lang="ts">
import {
  mdiPhone,
  mdiEmail,
  mdiFacebook,
  mdiInstagram,
  mdiSteam,
} from "@mdi/js";
</script>
<template>
  <v-container>
    <h1>Woramet Phatra</h1>
    <center><v-divider width="30%" /></center>
    <center><v-divider width="30%" /></center>
    <h3 class="name">นายวรเมธ เภตรา</h3>
    <br />
    <center>
      <v-img max-height="300" max-width="230" src=".\lazybunnies.png"></v-img>
    </center>
    <br />
    <v-row class="justify-center">
      <v-col cols="8">
        <v-table style="background-color: transparent">
          <thead>
            <tr>
              <td>
                <h4>ประวัติส่วนตัว</h4>
              </td>
              <td><h4>ประวัติการศึกษา</h4></td>
              <td><h4>สิ่งที่สนใจ</h4></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ชื่อเล่น : บาส</td>
              <td>อนุบาลศึกษา : ศูนย์พัฒนาเด็กเล็กบ้านสองสลึง</td>
              <td>เกมส์</td>
            </tr>
            <tr>
              <td>วันเดือนปีเกิด : 22 เม.ย. 2543 (22 ปี)</td>
              <td>ประถมศึกษา : โรงเรียนบ้านสองสลึง</td>
              <td>เพลง</td>
            </tr>
            <tr>
              <td>ส่วนสูง : 174 cm.</td>
              <td>มัธยมศึกษา : โรงเรียนแกลง “วิทยาสถาวร”</td>
              <td>หนัง / ซีรีย์ / อนิเมะ</td>
            </tr>
            <tr>
              <td>น้ำหนัก : 69 kg.</td>
              <td>ปัจจุบันศึกษา : มหาวิทยาลัยบูรพา</td>
              <td>HTML / HTML5 / JAVA / C++ / UI</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
    <center><v-divider width="66%" /></center>
    <v-row>
      <v-col>
        <br />
        <v-table style="background-color: transparent">
          <caption>
            CONTACT
          </caption>
          <tbody>
            <tr>
              <td>
                <v-icon style="color: green" :icon="mdiPhone"></v-icon>
                0819403756
              </td>
              <td>
                <v-icon style="color: red" :icon="mdiEmail"></v-icon>
                63160217@go.buu.ac.th
              </td>
              <td>
                <v-icon style="color: blue" :icon="mdiFacebook"></v-icon>Woramet
                Phatra
              </td>
              <td>
                <v-icon style="color: darkcyan" :icon="mdiSteam"></v-icon>
                Amsegred
              </td>
              <td>
                <v-icon style="color: darkorchid" :icon="mdiInstagram"></v-icon>
                bas_seagred
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100&display=swap");
h1,
h3 {
  font-family: "Agency FB", sans-serif;
  text-align: center;
}

.name,
th {
  font-family: "Noto Sans Thai", sans-serif;
  text-align: center;
}

caption {
  font-family: "Agency FB", sans-serif;
  text-align: center;
  font-size: 24px;
}

tr {
  font-family: "Noto Sans Thai", sans-serif;
}
</style>
